<section class="" layout-gt-sm="column" flex>
  <div layout-gt-sm="row">
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/nandini.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Nandini Vaidyanathan</div>
            <div class="speaker-designation">Founder and Mentor</div>
            <div class="speaker-organisation">CARMa Venture Services</div>
          </div>
          <div>
            <div class="speaker-info">
              Having spent 20 years in the corporate sector as a senior management professional in MNC's on all inhabited continents, I now enjoy sharing that experience with and learning from aspiring and practicing entrepreneurs across the globe.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="https://www.facebook.com/nandini.vaidyanathan" title="Facebook" class="social-icons fb" target="_blank"></a>
              <a href="https://in.linkedin.com/in/nandinivaidyanathan" title="LinkedIn" class="social-icons linkedIn" target="_blank"></a>
            </div>
            <div class="speaker_more">
              <button (click)="onClick1()" md-button style="margin-bottom:10px;">More</button>
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/sivasankar.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. M Sivasankar IAS</div>
            <div class="speaker-designation">IT Secretary</div>
            <div class="speaker-organisation">Government of Kerala</div>
          </div>
          <div>
            <div class="speaker-info">
              Shri. M Sivasankar is presently the Secretary to Government, IT Department since June, 2016. He is also holding the charge of Officer on Special Duty to the Chief Minister of Kerala.
            </div>
          </div>
          <div class="social-icon-section">
            <div class="speaker_more">
              <button (click)="onClick2()" md-button style="margin-bottom:10px;">More</button>
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
  <div layout-gt-sm="row">
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/ashraf.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Dr. Asharaf S.</div>
            <div class="speaker-designation">Associate Professor</div>
            <div class="speaker-organisation">IIITMK</div>
          </div>
          <div>
            <div class="speaker-info">
              Asharaf S is an Associate Professor at Indian Institute of Information Technology and Management – Kerala. He is also serving as a visiting faculty in Indian Institute of Space Science and Technology, Trivandrum and as a Mentor in Kerala Startup Mission.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="https://www.linkedin.com/in/asharafs/" title="LinkedIn" class="social-icons linkedIn" target="_blank"></a>
              <a href="https://twitter.com/asharafs" title="Twitter" class="social-icons twitter" target="_blank"></a>
            </div>
            <div class="speaker_more">
              <button (click)="onClick3()" md-button style="margin-bottom:10px;">More</button>
            </div>
          </div>
        </div>
      </div>
    </md-card>

    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/nandakumar.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. K. Nandakumar</div>
            <div class="speaker-designation">Founder</div>
            <div class="speaker-organisation">SunTec Business Solutions</div>
          </div>
          <div>
            <div class="speaker-info">
              Nanda Kumar is the Founder, President and CEO of SunTec Business Solutions. He has been a technology evangelist in the software realm for over 26 years for customer-centric software platforms and solutions, specifically,
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="https://www.linkedin.com/in/knandakumar/" title="LinkedIn" class="social-icons linkedIn" target="_blank"></a>
            </div>
            <div class="speaker_more">
              <button (click)="onClick4()" md-button style="margin-bottom:10px;">More</button>
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
  <div layout-gt-sm="row">
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/rahul.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. Rahul Alex Panicker</div>
            <div class="speaker-designation">Co-founder and President</div>
            <div class="speaker-organisation">Embrace Innovations</div>
          </div>
          <div>
            <div class="speaker-info">
              A technology product leader, Mr. Panicker loves building and leading creative teams to actualize magical products. He spends his time with users, working with designers, engineers, marketers, and sales folks to create these products, and taking them to
              market, giving them lots of TLC
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="https://www.facebook.com/rahul.alex.panicker" title="Facebook" class="social-icons fb" target="_blank"></a>
              <a href="https://twitter.com/rahulapanicker" title="Twitter" class="social-icons twitter" target="_blank"></a>
              <a href="https://www.linkedin.com/in/rahulap/" title="LinkedIn" class="social-icons linkedIn" target="_blank"></a>
            </div>
            <div class="speaker_more">
              <button (click)="onClick5()" md-button style="margin-bottom:10px;">More</button>
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/aswin.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. Aswin Kumar</div>
            <div class="speaker-designation">Program Manager</div>
            <div class="speaker-organisation">Frost Sullivan's Middle East</div>
          </div>
          <div>
            <div class="speaker-info">
              Aswin Kumar is Program Manager with the Mobility (Automotive & Transportation) Practice for Frost Sullivan's Middle East, North Africa and South Africa region He has over eight years of BusIness Research and Strategy Consulting experience,
            </div>
          </div>
          <div class="social-icon-section">
            <div class="speaker_more">
              <button (click)="onClick6()" md-button style="margin-bottom:10px;">More</button>
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
  <div layout-gt-sm="row">
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/anoop.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. Anoop Ambika</div>
            <div class="speaker-designation">Founder</div>
            <div class="speaker-organisation">CLAP Research</div>
          </div>
          <div>
            <div class="speaker-info">
              Anoop P Ambika is a serial entrepreneur, organiser and a technology enthusiast. He is the co-founder of several technology/ environment startups and currently is Chief Executive Officer of CLAP Research and Genpro Life Sciences.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="https://www.facebook.com/anoop.ambika" title="Facebook" class="social-icons fb" target="_blank"></a>
              <a href="https://www.linkedin.com/in/anoopambika/?ppe=1" title="LinkedIn" class="social-icons linkedIn" target="_blank"></a>
              <a href="https://twitter.com/anoopambika" title="Twitter" class="social-icons twitter" target="_blank"></a>
            </div>
            <div class="speaker_more">
              <button (click)="onClick7()" md-button style="margin-bottom:10px;">More</button>
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <!--<md-card flex-gt-sm="50" style="margin: 1em">
    </md-card>-->
  </div>
</section>