<section class="" layout-gt-sm="column" flex>
  <div layout-gt-sm="row">
    <md-card flex-gt-sm="25" style="margin: 1em">
      <div layout="column" layout-align="center center">
        <img class="speakers-photo-case" src="assets/nandini.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Nandini Vaidyanathan</div>
            <div class="speaker-designation">Founder and Mentor</div>
            <div class="speaker-organisation">CARMa Venture Services</div>
          </div>
          <div>
            <div class="speaker-info">
              Having spent 20 years in the corporate sector as a senior management professional in MNC's on all inhabited continents, I now enjoy sharing that experience with and learning from aspiring and practicing entrepreneurs across the globe.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <md-card flex-gt-sm="25" style="margin: 1em">
      <div layout="column" layout-align="center center">
        <img class="speakers-photo-case" src="assets/venkat.png">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Venkatramanan P.R</div>
            <div class="speaker-designation">Data Scientist</div>
            <div class="speaker-organisation">Thought Works</div>
          </div>
          <div>
            <div class="speaker-info">
              Venkat is Lead Consultant and Data Scientist at ThoughtWorks. Over the last few years, he has helped build the data science capability within ThoughtWorks India
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <md-card flex-gt-sm="25" style="margin: 1em">
      <div layout="column" layout-align="center center">
        <img class="speakers-photo-case" src="assets/nandini.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Nandini Vaidyanathan</div>
            <div class="speaker-designation">Founder and Mentor</div>
            <div class="speaker-organisation">CARMa Venture Services</div>
          </div>
          <div>
            <div class="speaker-info">
              Having spent 20 years in the corporate sector as a senior management professional in MNC's on all inhabited continents, I now enjoy sharing that experience with and learning from aspiring and practicing entrepreneurs across the globe.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <md-card flex-gt-sm="25" style="margin: 1em">
      <div layout="column" layout-align="center center">
        <img class="speakers-photo-case" src="assets/venkat.png">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Venkatramanan P.R</div>
            <div class="speaker-designation">Data Scientist</div>
            <div class="speaker-organisation">Thought Works</div>
          </div>
          <div>
            <div class="speaker-info">
              Venkat is Lead Consultant and Data Scientist at ThoughtWorks. Over the last few years, he has helped build the data science capability within ThoughtWorks India
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
</section>