<section class="idClass">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Travancore Hall (Park Center)</h3>
      <img src="assets/travancore-hall.png" class="s_e_img_travancore">
    </div>
    <div flex-gt-sm="65" layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">09:00AM</div>
        <div flex-gt-xs="70" class="event-name">
          Registration
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">09:30AM - 10:00AM</div>
        <div flex-gt-xs="70" class="event-name">
          Inaugural Function
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">10:00AM - 11:00AM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Keynote - Tech Disruption – Opportunities & Threats</strong>
          <br>Mr. Michael Gord (Founder & CEO - MLG Blockchain Consulting)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 11:10AM</div>
        <div flex-gt-xs="70" class="event-name">
          Tea Break
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:10AM - 11:40AM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>FOSS - Role of communities</strong>
          <br>Mr. Satish Babu (Chair, APRALO - ICANN)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:40AM - 12:20PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Designing Machine Learning Systems</strong>
          <br>Mr. Venkatramanan P. R. (Data Scientist - Thoughtworks)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">12:20AM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>How Tensor Flow converts Data into Intelligence</strong>
          <br>Mr. Amrit Sanjeev (Senior Developer Advocate - Google)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">01:00PM - 02:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          Networking Lunch
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">02:00PM - 03:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>How to Grow Faster & Smarter in the Age of Disruption</strong>
          <br>Prof. Nandini Vaidyanathan (Chairman and Managing Director - CARMa Venture Services)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">03:00PM - 3:40PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>UX at the Age of Disruption</strong>
          <br>Mr. Rama Brahmam Aleti (Senior Lead, UX - Valorem)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">3:40PM - 4:40PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Panel Discussion - Staying Relevant at the Age of Disruption</strong>
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">04:40PM - 05:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          High Tea
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">05:00PM - 06:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          Valedictory function - Official Launch of FAYA:80 Kochi & Kozhikode
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">05:15PM - 06:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          Valedictory function - Official Launch of FAYA:80 Kochi & Kozikkode
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="center center">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Startup Mission Hall (Thejaswini)</h3>
      <img src="assets/start-up.jpg" class="s_e_img">
    </div>
    <div flex layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 12:00AM</div>
        <div flex-gt-xs="70" class="event-name"><strong>Software & Hardware Breakthroughs in IOT</strong>
          <br>Mr. Sanju Mathew (CEO - Onbyz)</div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">12:00PM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>VR, AR & MR: What’s Real, What’s Now, What’s to Come</strong>
          <br>Mr. Abhilash Ashok (Senior Lead UX Development - Valorem)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">2:00PM - 4:30PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Get your ‘Hands-On’ Block Chain!</strong>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="center center">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Malabar Hall (Park)</h3>
      <img src="assets/malabar-hall.png" class="s_e_img">
    </div>
    <div flex layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 12:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Fairness in Civic Technologies</strong>
          <br>(Anivar Aravind, Founder Executive Director, Indic Project)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">12:00PM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name"><strong>Decoding Phantoms in the Brain Using Technology</strong>
          <br>Mr. Mohammed Rafi T. F. (Behavioural Scientist)</div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">2:00PM - 4:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Programming your way to Progressive Web Apps</strong>
          <br>(Google Team)
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="center center">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Floor of Madness, FAYA (Thejaswini)</h3>
      <img src="assets/faya.jpg" class="s_e_img">
    </div>
    <div flex layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Soft Computing and Blockchain in Bioinformatics</strong>
          <br>Mr. Manuyash Chaudhary, Mr. Rahul A. R. (Accubits Technologies)
          </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">02:00PM - 04:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Intelligent Computing in Bio Systems</strong>
          <br>Mr. Charush S. Nair, Mr. Jithin V. G. ( Accubits Technologies)
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="center center">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Exhibition Hall, Park Centre</h3>
      <img src="assets/park-centre.jpg " class="s_e_img">
    </div>
    <div flex layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Speach Enabled Kinematics - Bionic Hand Demo</strong>
          <br>(Onbyz Team)
          </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">02:00PM - 04:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Experience VR, AR & MR, Live Demo</strong>
          <br>(Valorem Team)
        </div>
      </div>
    </div>
  </div>
</section>
