<section class="idClass">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Travancore Hall (Park Center)</h3>
      <img src="assets/travancore-hall.png" class="s_e_img_travancore">
    </div>
    <div flex-gt-sm="65" layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">09:00AM</div>
        <div flex-gt-xs="70" class="event-name">
          Registration
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">09:30AM - 10:00AM</div>
        <div flex-gt-xs="70" class="event-name">
          Inaugural Function
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">10:00AM - 10:50AM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Keynote - Tech Disruption – Opportunities & Threats</strong>
          <br>( Kaushik Madhav, Frost & Sullivan)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">10:50AM - 11:00AM</div>
        <div flex-gt-xs="70" class="event-name">
          Tea Break
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 11:40AM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Impact of Deep Learning in the 'Next Big Thing'</strong>
          <br>(Venkataraman PR, Thoughtworks)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:40AM - 12:20PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>How Tensor Flow converts data into Intelligence</strong>
          <br>(Amrut Sanjeev, Google)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">12:20AM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Mobility, IoT & Bionics</strong>
          <br>(Sanju Mathew, CEO, Onbyz)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">01:00PM - 02:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          Lunch
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">02:00PM - 02:40PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>VR & AR: What’s Real, What’s Now, What’s to Come</strong>
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">02:40PM - 03:20PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Blockchain – Beyond Financial Services</strong>
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">03:20PM - 04:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          Tech Quiz
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">04:00PM - 05:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Panel Discussion - Staying Relevant at the Age of Disruption</strong>
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">05:00PM - 05:15PM</div>
        <div flex-gt-xs="70" class="event-name">
          Break
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">05:15PM - 06:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          Valedictory function - Official Launch of FAYA:80 Kochi & Kozikkode
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="center center">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Malabar Hall (Park)</h3>
      <img src="assets/malabar-hall.png" class="s_e_img">
    </div>
    <div flex layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 11:40PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>From Vision to Reality – The Journey of PWA</strong>
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:40PM - 12:20PM</div>
        <div flex-gt-xs="70" class="event-name"><strong>Fairness in Civic Technologies</strong>
          <br>(Anivar Aravind, Founder Executive Director, Indic Project)</div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">12:20PM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>UX at the Age of Disruption</strong>
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">02:00PM - 05:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Get your ‘Hands-On’ Block Chain!</strong>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="center center">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Startup Mission Hall (Thejaswini)</h3>
      <img src="assets/start-up.jpg" class="s_e_img">
    </div>
    <div flex layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name"><strong>Programming your way to Progressive Web Apps</strong>
          <br>(Google Team)</div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">02:00PM - 05:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Applied Tensor Flow</strong>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="center center">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Floor of Madness, FAYA (Thejaswini)</h3>
      <img src="assets/faya.jpg" class="s_e_img">
    </div>
    <div flex layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name">UX Workshop</div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">02:00PM - 05:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>RUST Workshop - Pramode C.E, Recursive Labs</strong>
        </div>
      </div>
    </div>
  </div>
</section>