<!--<section class="idClass">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Travancore Hall (Park Center)</h3>
      <img src="assets/travancore-hall.png" class="s_e_img_travancore">
    </div>
    <div flex-gt-sm="65" layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">09:00AM</div>
        <div flex-gt-xs="70" class="event-name">
          Registration
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">09:30AM - 10:00AM</div>
        <div flex-gt-xs="70" class="event-name">
          Inaugural Function
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">10:00AM - 11:00AM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Keynote - Tech Disruption – Opportunities & Threats</strong>
          <br>Mr. Michael Gord (Founder & CEO - MLG Blockchain Consulting)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 11:10AM</div>
        <div flex-gt-xs="70" class="event-name">
          Tea Break
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:10AM - 11:40AM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>FOSS - Role of communities</strong>
          <br>Mr. Satish Babu (Chair, APRALO - ICANN)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:40AM - 12:20PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Designing Machine Learning Systems</strong>
          <br>Mr. Venkatramanan P. R. (Data Scientist - Thoughtworks)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">12:20AM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>How Tensor Flow converts Data into Intelligence</strong>
          <br>Mr. Amrit Sanjeev (Senior Developer Advocate - Google)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">01:00PM - 02:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          Networking Lunch
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">02:00PM - 03:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>How to Grow Faster & Smarter in the Age of Disruption</strong>
          <br>Prof. Nandini Vaidyanathan (Chairman and Managing Director - CARMa Venture Services)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">03:00PM - 3:40PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>UX at the Age of Disruption</strong>
          <br>Mr. Rama Brahmam Aleti (Senior Lead, UX - Valorem)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">3:40PM - 4:40PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Panel Discussion - Staying Relevant at the Age of Disruption</strong>
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">04:40PM - 05:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          High Tea
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">05:00PM - 06:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          Valedictory function - Official Launch of FAYA:80 Kochi & Kozhikode
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">05:15PM - 06:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          Valedictory function - Official Launch of FAYA:80 Kochi & Kozikkode
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="center center">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Startup Mission Hall (Thejaswini)</h3>
      <img src="assets/start-up.jpg" class="s_e_img">
    </div>
    <div flex layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 12:00AM</div>
        <div flex-gt-xs="70" class="event-name"><strong>Software & Hardware Breakthroughs in IOT</strong>
          <br>Mr. Sanju Mathew (CEO - Onbyz)</div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">12:00PM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>VR, AR & MR: What’s Real, What’s Now, What’s to Come</strong>
          <br>Mr. Abhilash Ashok (Senior Lead UX Development - Valorem)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">2:00PM - 4:30PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Get your ‘Hands-On’ Block Chain!</strong>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="center center">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Malabar Hall (Park)</h3>
      <img src="assets/malabar-hall.png" class="s_e_img">
    </div>
    <div flex layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 12:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Fairness in Civic Technologies</strong>
          <br>(Anivar Aravind, Founder Executive Director, Indic Project)
        </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">12:00PM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name"><strong>Decoding Phantoms in the Brain Using Technology</strong>
          <br>Mr. Mohammed Rafi T. F. (Behavioural Scientist)</div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">2:00PM - 4:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Programming your way to Progressive Web Apps</strong>
          <br>(Google Team)
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="center center">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Floor of Madness, FAYA (Thejaswini)</h3>
      <img src="assets/faya.jpg" class="s_e_img">
    </div>
    <div flex layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Soft Computing and Blockchain in Bioinformatics</strong>
          <br>Mr. Manuyash Chaudhary, Mr. Rahul A. R. (Accubits Technologies)
          </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">02:00PM - 04:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Intelligent Computing in Bio Systems</strong>
          <br>Mr. Charush S. Nair, Mr. Jithin V. G. ( Accubits Technologies)
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div layout-gt-md="row" class="event-schedule-wrap">
    <div flex-gt-sm="35" layout-gt-sm="column" layout-align="center center">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Exhibition Hall, Park Centre</h3>
      <img src="assets/park-centre.jpg " class="s_e_img">
    </div>
    <div flex layout="column" class="event-schedule margin_top">
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">11:00AM - 01:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Speach Enabled Kinematics - Bionic Hand Demo</strong>
          <br>(Onbyz Team)
          </div>
      </div>
      <div layout="row" layout-xs="column" class="event-schedule-list">
        <div flex-gt-xs="30" class="event-time">02:00PM - 04:00PM</div>
        <div flex-gt-xs="70" class="event-name">
          <strong>Experience VR, AR & MR, Live Demo</strong>
          <br>(Valorem Team)
        </div>
      </div>
    </div>
  </div>
</section>-->


<md-tab-group class="animated slideInUp">
  <md-tab>
    <ng-template md-tab-label>
      <span hide-xs><md-icon>domain</md-icon></span>
      <span hide-gt-xs>
              <md-icon>domain</md-icon>
              <span class="h_e_title">1</span>
      </span>
    </ng-template>
    <div layout="column">
      <div flex-gt-sm="100" layout-gt-sm="column" layout-align="">
        <h3 class="event-hall travancore" style="padding-top: 1em;">Travancore Hall (Park Center)</h3>
        <img src="assets/travancore-hall.png" class="s_e_img_travancore">
      </div>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Registration</md-card-title>
          <md-card-subtitle><strong>9:00 AM</strong></md-card-subtitle>
        </md-card-title-group>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Inauguration</md-card-title>
          <md-card-subtitle><strong>9:30 AM</strong></md-card-subtitle>
        </md-card-title-group>
      </md-card>

      <!--<td-expansion-panel  label="10:00 AM" sublabel="Keynote: Tech Disruption – Opportunities & Threats">
        <h3 class="md-subhead">md-padding class</h3>
        <div>
          <iframe width="400" height="400" src="https://www.youtube.com/embed/LMlbRsiYgpw" frameborder="0" allowfullscreen></iframe>
        </div>

      </td-expansion-panel>-->
      <!--<td-expansion-panel  label="10:00 AM" sublabel="Keynote: Tech Disruption – Opportunities & Threats">
         <div>
          <iframe width="100%"  src="https://www.youtube.com/embed/LMlbRsiYgpw" frameborder="0" allowfullscreen></iframe>
        </div>-->
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Tech Disruption – Opportunities & Threats</md-card-title>
          <md-card-subtitle>Mr. Michael Gord (Founder & CEO - MLG Blockchain Consulting)</md-card-subtitle>
          <md-card-subtitle><strong>10:00 AM</strong>
              <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: #00e4e6;" selected="true">Keynote</md-chip>
              <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: yellow;" selected="true">Blockchain</md-chip>
          </md-card-subtitle>
          <md-card-subtitle>
            <md-icon class="tc-blue-700" (click)="toggle(1)">videocam</md-icon>
          </md-card-subtitle>
        </md-card-title-group>
        <div *ngIf="toggleObj[1]" class="animate slideInDown">
          <md-divider></md-divider>
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/LMlbRsiYgpw" frameborder="0" allowfullscreen></iframe>
        </div>
      </md-card>
      <!--</td-expansion-panel>-->
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Tea Break</md-card-title>
          <md-card-subtitle><strong>11:00 AM</strong></md-card-subtitle>
        </md-card-title-group>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">FOSS - Role of communities</md-card-title>
          <md-card-subtitle>Mr. Satish Babu (Chair, APRALO - ICANN)</md-card-subtitle>
          <md-card-subtitle><strong>11:10 AM</strong>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: whitesmoke;" selected="true">FOSS</md-chip>
          </md-card-subtitle>
          <md-card-subtitle>
            <md-icon class="tc-blue-700" (click)="toggle(2)">videocam</md-icon>
          </md-card-subtitle>
        </md-card-title-group>
        <div *ngIf="toggleObj[2]" class="animate slideInDown">
          <md-divider></md-divider>
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/Vtiqj1hCH4I" frameborder="0" allowfullscreen></iframe>
        </div>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Designing Machine Learning Systems</md-card-title>
          <md-card-subtitle>Mr. Venkatramanan P. R. (Data Scientist - Thoughtworks) Mr. Venkatramanan P. R. (Data Scientist - Thoughtworks)
          </md-card-subtitle>
          <md-card-subtitle><strong>11:40 AM</strong>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: #00e4e6;" selected="true">Machine Learning</md-chip>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: grey;" selected="true">Data Science</md-chip>
          </md-card-subtitle>
          <md-card-subtitle>
            <md-icon class="tc-blue-700" (click)="toggle(3)">videocam</md-icon>
          </md-card-subtitle>
        </md-card-title-group>
        <div *ngIf="toggleObj[3]" class="animate slideInDown">
          <md-divider></md-divider>
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/iiPk8ghxDpE" frameborder="0" allowfullscreen></iframe>
        </div>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Progressive Web Apps: What, Why and How</md-card-title>
          <md-card-subtitle>Mr. Hemanth H. M. (Google Developer Expert)</md-card-subtitle>
          <md-card-subtitle><strong>12:20 PM</strong>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: #00e4e6;" selected="true">AI</md-chip>
           <!--  <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: yellow;" selected="true">Tensor Flow</md-chip> -->
          </md-card-subtitle>
          <md-card-subtitle>
            <md-icon class="tc-blue-700" (click)="toggle(4)">videocam</md-icon>
          </md-card-subtitle>
        </md-card-title-group>
        <div *ngIf="toggleObj[4]" class="animate slideInDown">
          <md-divider></md-divider>
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/TzxCCcbcDgg" frameborder="0" allowfullscreen></iframe>
        </div>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Networking Lunch</md-card-title>
          <md-card-subtitle><strong>01:00 PM</strong></md-card-subtitle>
        </md-card-title-group>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">How to Grow Faster & Smarter in the Age of Disruption</md-card-title>
          <md-card-subtitle> Prof. Nandini Vaidyanathan (Chairman and Managing Director - CARMa Venture Services) </md-card-subtitle>
          <md-card-subtitle><strong>2:00 PM</strong>
          </md-card-subtitle>
          <md-card-subtitle>
            <md-icon class="tc-blue-700" (click)="toggle(5)">videocam</md-icon>
          </md-card-subtitle>
        </md-card-title-group>
        <div *ngIf="toggleObj[5]" class="animate slideInDown">
          <md-divider></md-divider>
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/uflPL4VueTM" frameborder="0" allowfullscreen></iframe>
        </div>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">UX at the Age of Disruption </md-card-title>
          <md-card-subtitle> Mr. Rama Brahmam Aleti (Senior Lead, UX - Valorem) </md-card-subtitle>
          <md-card-subtitle><strong>03:00 PM</strong>
             <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: #00e4e6;" selected="true">UX</md-chip>
          </md-card-subtitle>
          <md-card-subtitle>
            <md-icon class="tc-blue-700" (click)="toggle(6)">videocam</md-icon>
          </md-card-subtitle>
        </md-card-title-group>
        <div *ngIf="toggleObj[6]" class="animate slideInDown">
          <md-divider></md-divider>
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FVlpCMdOeK8" frameborder="0" allowfullscreen></iframe>
        </div>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">High Tea</md-card-title>
          <md-card-subtitle><strong>4:40PM</strong></md-card-subtitle>
        </md-card-title-group>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Panel Discussion - Staying Relevant at the Age of Disruption</md-card-title>
          <md-card-subtitle><strong>03:00 PM</strong>
             <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: #00e4e6;" selected="true">Panel Discussion</md-chip>
          </md-card-subtitle>
          <md-card-subtitle>
            <md-icon class="tc-blue-700" (click)="toggle(7)">videocam</md-icon>
          </md-card-subtitle>
        </md-card-title-group>
        <div *ngIf="toggleObj[7]" class="animate slideInDown">
          <md-divider></md-divider>
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/oMelc8RG3cI" frameborder="0" allowfullscreen></iframe>
        </div>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Valedictory function - Official Launch of FAYA:80 Kochi & Kozhikode</md-card-title>
          <md-card-subtitle><strong>05:00 PM</strong></md-card-subtitle>
        </md-card-title-group>
      </md-card>
    </div>
  </md-tab>

  <md-tab label="Startup Mission Hall">
    <div flex-gt-sm="100" layout-gt-sm="column" layout-align="center center">
      <h3 class="event-hall travancore" style="padding-top: 1em;">Startup Mission Hall (Thejaswini)</h3>
      <img src="assets/start-up.jpg" class="s_e_img">
    </div>
    <ng-template md-tab-label>
      <span hide-xs> <md-icon class="tc-blue-700">developer_mode</md-icon></span>
      <span hide-gt-xs>
              <md-icon class="tc-blue-700">developer_mode</md-icon>
              <span class="h_e_title">2</span>
      </span>
    </ng-template>
    <div layout="column">
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Software & Hardware Breakthroughs in Bionics and IOT</md-card-title>
          <md-card-subtitle> Mr. Sanju Mathew (CEO - Onbyz) </md-card-subtitle>
          <md-card-subtitle><strong>11:00 AM</strong>
             <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: #00e4e6;" selected="true">IOT</md-chip>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: yellow;" selected="true">Bionics</md-chip>
          </md-card-subtitle>
         <md-card-subtitle>
            <md-icon class="tc-blue-700" (click)="toggle(8)">videocam</md-icon>
          </md-card-subtitle>
        </md-card-title-group>
        <div *ngIf="toggleObj[8]" class="animate slideInDown">
          <md-divider></md-divider>
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/lrUoThXxj1Q" frameborder="0" allowfullscreen></iframe>
        </div>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">VR, AR & MR: What’s Real, What’s Now, What’s to Come</md-card-title>
          <md-card-subtitle> Mr. Abhilash Ashok (Senior Lead UX Development - Valorem) </md-card-subtitle>
          <md-card-subtitle><strong>12:00 PM </strong>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: yellow;" selected="true">VR & AR</md-chip>
          </md-card-subtitle>
         <md-card-subtitle>
            <md-icon class="tc-blue-700" (click)="toggle(9)">videocam</md-icon>
          </md-card-subtitle>
        </md-card-title-group>
        <div *ngIf="toggleObj[9]" class="animate slideInDown">
          <md-divider></md-divider>
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/rmZmafAi1PM" frameborder="0" allowfullscreen></iframe>
        </div>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Get your ‘Hands-On’ Block Chain!</md-card-title>
          <md-card-subtitle><strong>02:00 PM</strong>
             <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: #00e4e6;" selected="true">Workshop</md-chip>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: yellow;" selected="true">BlockChain</md-chip>
          </md-card-subtitle>
        </md-card-title-group>
      </md-card>
    </div>
  </md-tab>
  <md-tab label="Malabar Hall (Park)">
    <ng-template md-tab-label>
      <span hide-xs><md-icon class="tc-red-700">event_seat</md-icon></span>
      <span hide-gt-xs>
              <md-icon class="tc-red-700">event_seat</md-icon>
              <span class="h_e_title">2</span>
      </span>
    </ng-template>
    <div layout="column">
      <div flex-gt-sm="100" layout-gt-sm="column" layout-align="center center">
        <h3 class="event-hall travancore" style="padding-top: 1em;">Malabar Hall (Park)</h3>
        <img src="assets/malabar-hall.png" class="s_e_img">
      </div>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Fairness in Civic Technologies</md-card-title>
          <md-card-subtitle> Mr. Anivar Aravind (Founder Executive Director, Indic Project) </md-card-subtitle>
          <md-card-subtitle><strong>11:00 AM</strong>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: #00e4e6;" selected="true">Civic Technologies</md-chip>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: yellow;" selected="true">Privacy</md-chip>
          </md-card-subtitle>
         <md-card-subtitle>
            <md-icon class="tc-blue-700" (click)="toggle(10)">videocam</md-icon>
          </md-card-subtitle>
        </md-card-title-group>
        <div *ngIf="toggleObj[10]" class="animate slideInDown">
          <md-divider></md-divider>
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/k-rsDfR7DqE" frameborder="0" allowfullscreen></iframe>
        </div>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Decoding Phantoms in the Brain Using Technology</md-card-title>
          <md-card-subtitle> Mr. Mohammed Rafi T. F. (Behavioural Scientist) </md-card-subtitle>
          <md-card-subtitle><strong>12:00 PM </strong>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: #00e4e6;" selected="true">NLP</md-chip>
          </md-card-subtitle>
         <md-card-subtitle>
            <md-icon class="tc-blue-700" (click)="toggle(11)">videocam</md-icon>
          </md-card-subtitle>
        </md-card-title-group>
        <div *ngIf="toggleObj[11]" class="animate slideInDown">
          <md-divider></md-divider>
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/wT-Y4Dm_HmI" frameborder="0" allowfullscreen></iframe>
        </div>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Programming your way to Progressive Web</md-card-title>
          <md-card-subtitle><strong>02:00 PM</strong>
           <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: yellow;" selected="true">Workshop</md-chip>
          </md-card-subtitle>
        </md-card-title-group>
      </md-card>
    </div>
  </md-tab>
  <md-tab label="Floor of Madness, FAYA (Thejaswini)">
    <ng-template md-tab-label>
      <span hide-xs><md-icon class="tc-green-700">people</md-icon></span>
      <span hide-gt-xs>
              <md-icon class="tc-green-700">people</md-icon>
              <span class="h_e_title">2</span>
      </span>
    </ng-template>
    <div layout="column">
      <div flex-gt-sm="100" layout-gt-sm="column" layout-align="center center">
        <h3 class="event-hall travancore" style="padding-top: 1em;">Floor of Madness, FAYA (Thejaswini)</h3>
        <img src="assets/faya.jpg" class="s_e_img">
      </div>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl"> Soft Computing and Blockchain in Bioinformatics </md-card-title>
          <md-card-subtitle> Mr. Manuyash Chaudhary, Mr. Rahul A. R. (Accubits Technologies) </md-card-subtitle>
          <md-card-subtitle><strong>11:00 AM</strong>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: #00e4e6;" selected="true">Bioinformatics</md-chip>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: yellow;" selected="true">Blockchain</md-chip>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: yellow;" selected="true">Workshop</md-chip>
          </md-card-subtitle>
        </md-card-title-group>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Intelligent Computing in Bio Systems </md-card-title>
          <md-card-subtitle> Mr. Charush S. Nair, Mr. Jithin V. G. ( Accubits Technologies) </md-card-subtitle>
          <md-card-subtitle><strong>02:00 PM </strong>
           <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: #00e4e6;" selected="true">Machine Learning</md-chip>
           <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: yellow;" selected="true">Bionics</md-chip>
            <md-chip style="margin:0px 5px;padding:3px 6px;border-radius:30px;background-color: yellow;" selected="true">Workshop</md-chip>

          </md-card-subtitle>
        </md-card-title-group>
      </md-card>
    </div>
  </md-tab>
  <md-tab label="Exhibition Hall, Park Centre">
    <ng-template md-tab-label>
      <span hide-xs> <md-icon class="tc-yellow-700">input</md-icon></span>
      <span hide-gt-xs>
              <md-icon class="tc-yellow-700">input</md-icon>
              <span class="h_e_title">2</span>
      </span>
    </ng-template>
    <div layout="column">
      <div flex-gt-sm="100" layout-gt-sm="column" layout-align="center center">
        <h3 class="event-hall travancore" style="padding-top: 1em;">Exhibition Hall, Park Centre</h3>
        <img src="assets/park-centre.jpg " class="s_e_img">
      </div>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl"> Speach Enabled Kinematics - Bionic Hand Demo</md-card-title>
          <md-card-subtitle> (Onbyz Team) </md-card-subtitle>
          <md-card-subtitle><strong>11:00 AM</strong></md-card-subtitle>
        </md-card-title-group>
      </md-card>
      <md-card>
        <md-card-title-group>
          <md-card-title class="text-xxl">Experience VR, AR & MR, Live Demo </md-card-title>
          <md-card-subtitle> (Valorem Team) </md-card-subtitle>
          <md-card-subtitle><strong>02:00 PM </strong></md-card-subtitle>
        </md-card-title-group>
      </md-card>
    </div>
  </md-tab>
</md-tab-group>

