.filter {
	margin:0px 5px;
	padding:3px 6px;
	border-radius:30px;
	background-color: #00e4e6;
	color: #000 !important;
}
.bg_primary {
	background-color: #00e4e6 !important;
}
.bg_yellow {
	background-color: yellow !important;
}
.bg_whitesmoke{
	background-color: whitesmoke !important;
}