<md-card style="margin: 1em;padding: 1em;">
  <carousel>
    <slide>
      <img src="assets/slider/PORT80-TIMELINE1.jpg">
    </slide>
    <slide>
      <img src="assets/slider/PORT80-TIMELINE2.jpg">
    </slide>
    <slide>
      <img src="assets/slider/PORT80-TIMELINE3.jpg">
    </slide>
    <slide>
      <img src="assets/slider/PORT80-TIMELINE4.jpg">
    </slide>
    <slide>
      <img src="assets/slider/PORT80-TIMELINE5.jpg">
    </slide>
    <slide>
      <img src="assets/slider/PORT80-TIMELINE6.jpg">
    </slide>
    <slide>
      <img src="assets/slider/PORT80-TIMELINE7.jpg">
    </slide>
  </carousel>

</md-card>