<section class="bgc-blue-grey-800 tc-blue-grey-100" style="height: 70px;">
  <div layout-gt-xs="row" layout-align-gt-xs="center center">
    <!--<div layout-gt-sm="row" layout-margin layout-padding>-->
    <!--<div flex>
            <md-nav-list>
              <h3 md-subheader class="text-upper tc-blue-grey-100">About Faya port:80</h3>
            </md-nav-list>
          </div>
          <div flex>
            <md-nav-list>
              <h3 md-subheader class="text-upper tc-blue-grey-100">Events</h3>
              <md-list-item>
                <p md-line class="tc-blue-grey-300">Locations</p>
              </md-list-item>
              <md-list-item>
                <p md-line class="tc-blue-grey-300">Schedule</p>
              </md-list-item>
            </md-nav-list>
          </div>
          <div flex-gt-xs="10">
          </div>-->
    <div flex layout="column" layout-align="center center">
      <!--<md-icon class="push-top-md" svgIcon="assets:covalent" style="height:auto;width:auto;"></md-icon>-->
      <p class="md-body-1">&copy; Copyright 2017 Fayausa. All rights reserved.</p>
    </div>
    <!--</div>-->
  </div>
</section>