<section class="">
  <div layout-gt-xs="row">
    <div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
      <!--<div class="push-top-xl" hide-xs></div>-->
      <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
        <h3 class="md-display-1 tc-black-A400 push-top-xs push-bottom-sm">PREMISE</h3>
        <p class=" tc-black-400 text_premise">
          Amidst building a Mobile First World happened the seismic shift towards building an AI First World. Google, Amazon, Facebook, Microsoft and Tesla are exploding the industry with their moon-shot AI products. Can the Indian Innovators think ahead of them?</p>
        <p class="tc-black-400 text_premise">
          <b>Disrupt Kerala 2017 </b>will focus on futuristic trends leading technology disruption. The event will push a diverse group of individuals <b> Break their echo chamber</b> and set a definitive direction for their future.
        </p>
        <p class=" tc-black-400 text_premise">
          The summit will showcase advancing trends in AI, Machine Learning, Artificial Intelligence, Blockchain, Mixed Reality, Internet of Things etc. Participants will imbibe ideas from leading innovators, influential technologists, data scientists and founders
          who now lead Global Technology Disruption.</p>
      </div>
      <div class="push-bottom-xl" hide-xs></div>
    </div>
    <div flex="40" flex-xs="100" layout="row" layout-align="center center">
      <img src="assets/agenda-banner.png" class="push p_e_img">
    </div>
  </div>
</section>