/* You can add global styles to this file, and also import other style files */

@import 'mixin';
html,
body {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0px;
}

.content {
  margin: 1em;
}

.ng-title-icon>i {
  background-image: url("../assets/ng.png");
}

.ng-title-icon>i,
azfunc-title-icon>i {
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1.2em;
}

.title {
  margin-right: 1em;
}

.router-link-active {
  @include primary-background-contrast-color;
}

pre {
  background-color: map-get($accent, 100);
  padding: 1em;
  font-size: 12px;
}

div.content {
  margin: 0em;
}

.text_premise {
  color: #2d2d2d;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: justify;
  width: 100%;
  font-family: 'Open Sans', sans-serif !important;
}

.mat-toolbar.mat-primary {
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
}

.td-notification-count.mat-primary {
  color: #fff;
}

.progress {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 2em 0em;
}

.snack {
  @include selected-style;
}

.pull-right {
  position: fixed !important;
  right: 8px;
}

.mat-tab-header {
  margin-top: 1em;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.mat-toolbar {
  z-index: 2;
}

md-tab-group {
  .md-tab-header {
    background: #fff !important;
    margin-top: 1em;
  }
}

@media (max-width: 414px) {
  .pull-right {
    display: none !important;
  }
}


/* default .loading styles, .loading should be invisible, opacity: 0, z-index: -1 */

.loading {
  opacity: 0;
  transition: opacity .8s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: -1;
}


/* .loading screen is visible when app is not bootstraped yet, .my-app is empty */

my-app:empty+.loading {
  opacity: 1;
  z-index: 100;
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';
  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};
    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

//theme
$yellow:#f5d300;
$black: #292929;
$bg: #191919;
$lines: #757474;
$white: #fff;
// HOME PAGE
#h_e_card {
  margin-left: 5em !important;
  margin-right: 5em!important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.h_e_btn_bottm {
  z-index: 1;
}

.h_e_title {
  position: relative;
  top: -3em;
  font-size: 12px;
}

// FOOTER
.f_r_headline {
  font-size: 15px;
  color: $white;
}

.f_r_border {
  border-right: 1px solid #6b6b6b;
}

.f_l_border div,
.f_l_border address {
  font-style: normal;
  font-size: 13px;
  color: #969595;
}

.f_r_border div {
  font-size: 13px;
  color: #969595;
}

.f_r_copyright {
  color: #6b6b6b;
  font-weight: 600;
  margin: 0 !important;
}

// PREMISE
.p_e_img {
  margin-right: 5em!important;
}

// ABOUT_US
.a_t_img {
  margin-left: 5em!important;
}

// COMMON
a {
  color: #87be49;
}

// SPEACKERS
.s_p_r_img {
  border-radius: 0 !important;
  width: 0200px !important;
  height: 200px !important;
}

.speakers-photo-case {
  display: block;
  height: 225px;
  width: 225px;
  float: left;
}

.speakers-detail {
  text-align: left;
  float: left;
  color: #4F4F4F;
  padding: 25px 25px 0 25px;
  max-width: 330px;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif !important;
}

.speakers-detail .speaker-name {
  color: #4F4F4F;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 2px;
}

.speakers-detail .speaker-designation {
  color: #293719;
  font-size: 12px;
}

.speakers-detail .speaker-organisation {
  font-size: 16px;
  line-height: 1;
}

.speaker-info {
  font-size: 13px;
  font-weight: 300;
  margin: 10px 11px 10px 24px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif !important;
}

.speaker-info {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.speakers-detail .more-info {
  color: #5B9D0C;
}

.social-icons {
  width: 15px;
  height: 15px;
  float: left;
  background: url(../assets/social-icons.png) no-repeat 0 0;
  margin-right: 15px;
  cursor: pointer;
  transition-property: none;
}

.social-icons.fb {
  background-position: 0 0;
  width: 11px;
}

.social-icons.twitter {
  background-position: -10px -1px;
  width: 18px;
}

.social-icons.linkedIn {
  background-position: -28px -1px;
  width: 18px;
}

.social-icons.fb:hover {
  background-position: 0 -19px;
}

.social-icons.twitter:hover {
  background-position: -10px -20px;
}

.social-icons.linkedIn:hover {
  background-position: -28px -20px;
}

.speaker_more {
  float: right;
  color: #00E676;
  font-size: 13px;
  padding-right: 2em;
  margin-top: 3px;
  cursor: pointer;
}

.social-icon-section {
  margin-left: 1.4em;
}

@media (max-width: 950px) {
  #h_e_card {
    margin-left: 0 !important;
    margin-right: 0!important;
  }
}

@media (max-width: 600px) {
  .f_r_border {
    border-right: none;
  }
  // PREMISE
  .p_e_img {
    margin-right: 0 !important;
  }
  // ABOUT_US
  .a_t_img {
    margin-left: 0 !important;
  }
}

@media (max-width: 1199px) {
  .speakers-photo-case {
    float: none;
    margin: 0 auto;
  }
  .social-icon-section {
    margin-bottom: 1em;
  }
}