<td-layout #layout>
  <td-navigation-drawer color="accent" logo="assets/FAYA-80-logo.png" icon="dashboard" sidenavTitle=" Port:80">
    <md-nav-list>
      <a [routerLink]="['/coc']" md-list-item (click)="layout.close()">
        <md-icon>person</md-icon>CODE OF CONDUCT</a>
      <a [routerLink]="['/coc']" md-list-item (click)="layout.close()">
        <md-icon>map</md-icon>MAP</a>
      <a [routerLink]="['/coc']" md-list-item (click)="layout.close()">
        <md-icon>contacts</md-icon>CONTACT</a>
    </md-nav-list>
    <md-nav-list td-navigation-drawer-menu>
      <a md-list-item>
        <md-icon>exit_to_app</md-icon>Sign out</a>
    </md-nav-list>
  </td-navigation-drawer>
  <td-layout-nav color="primary">
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span><img [routerLink]="['home']" src="assets/FAYA-80-logo.png" style="width: 75%;cursor: pointer;"></span>
      <span flex></span>
      <button md-icon-button>
        <td-notification-count color="primary" [notifications]="12">
          <md-icon>notifications</md-icon>
        </td-notification-count>
      </button>
    </div>
    <router-outlet></router-outlet>
    <pwa-footer></pwa-footer>
  </td-layout-nav>
  <a md-fab color="primary" mdTooltip="Schedule" mdTooltipPosition="above" class="mat-fab-position-bottom-right fixed h_e_btn_bottm">
    <md-icon style="color:#fff">
      insert_invitation
    </md-icon>
  </a>

</td-layout>