	<div class="landing-page" >
		<div layout-gt-xs="row" class="landing-page-content">
			<div flex flex-gt-xs="48" layout="column" flex-sm="40">
	     <div class="faya-logo">
	      	<img class="animated zoomIn" src="assets/FAYA-80-logo.png" style="filter: brightness(0) invert(1);">
	      </div>
	      <div class="main-image">
	      	 <img src="assets/title-container.png" class="animated zoomIn">
	      </div>
	      <div class="l-p-style">
		      <p class="animated zoomIn" >
		       	THE MUST ATTEND ONE-DAY CONFERENCE FOR TECHNOLOGY ENTHUSIASTS<br>
	       		JULY 5TH WEDNESDAY <br>
	       		TECHNOPARK, TRIVANDRUM
	       	</p>
	      </div>
	      <div style="margin-bottom: 1.5em;font-family: 'Orbitron', sans-serif;" layout="row">
	      	<!--<button md-raised-button [routerLink]="['home']" >CONNECT PORT 80</button>-->
          <button  class="btn animated bounceInUp" [routerLink]="['home']"><span> Details</span></button>
          <button style="margin-left:.5em;" class="btn animated bounceInDown" [routerLink]="['']"><span> Register</span></button>
	      </div>
        <!--<div layout-gt-xs="row" class="partners">
          <div>
            <h3>In Association with :<span class="nasscom">NASSCOM</span></h3>
          </div>
          <div class="partners-logo">
            <h3>Partners :<span style="color: black;">     IC</span>
            <span style="color: #F37920;">FOSS</span></h3>
          </div>
        </div>-->
      </div>
			<div flex flex-gt-xs="52"  flex-sm="60" layout="column" class="animated bounceInUp">
      	<div flex flex-gt-xs="85" layout-xs="column" flex-xs ="100" class="date-card">
      	  <md-card class="card-details" layout="column"  flex-xs ="100" >
      	  	<div flex layout-gt-xs="row" layout-xs="row">
      	 			<div flex-gt-xs="49" class="event-details" flex-xs ="49">
		      	    <h1>{{time.days}}</h1>
		      	    <p>Days</p>
      	 	  	</div>
      	 	  	<div flex-gt-xs="49" class="event-details" flex-xs ="49" >
      	     		<h1>{{time.hours}}</h1>
      	    		<p>Hours</p>
      	 	  	</div>
      	 		</div>
      	 		<div flex layout-gt-xs="row" layout-align="center center"  layout-xs="row">
      	 			<div flex-gt-xs="49" class="event-details" flex-xs ="49">
      	    		<h1>{{time.minutes}}</h1>
      	    		<p>Minutes</p>
      	 	  	</div>
      	 	  	<div flex-gt-xs="49" class="event-details" flex-xs ="49">
      	     		<h1>{{time.seconds}}</h1>
      	    		<p>Seconds</p>
      	 	  	</div>
      	 		</div>
      	 	</md-card>
          <div flex class="b-logo" >
            <img class="animated bounceInUp" src="assets/1.png" alt="image1" style="width: 16%" >
            <img class="animated bounceIn" src="assets/2.png" alt="image2" style="width: 9.3%">
            <img class="animated bounceInUp" src="assets/3.png" alt="image3" style="width: 14.5%">
            <img class="animated bounceIn" src="assets/4.png" alt="image4" style="width: 15%">
            <img class="animated bounceInUp" src="assets/5.png" alt="image5" style="width: 13%">
            <img class="animated bounceIn" src="assets/6.png" alt="image5" style="width: 16%">
          </div>
      	</div>
      </div>
  	</div>
	</div>



