<section>
	<div class="landing-page" >
		<div layout-gt-xs="row" class="landing-page-content">
			<div flex flex-gt-xs="48" layout="column" >
	      <!-- <div>
	      	 <img src="assets/FAYA-80-logo.png">
	      </div> -->
	      <div class="main-image">
	      	 <img src="assets/title-container.png">
	      </div>
	      <div class="l-p-style">
		      <p>
		       	THE MUST ATTEND ONE-DAY CONFERENCE FOR TECHNOLOGY ENTHUSIASTS<br>
	       		JULY 5TH WEDNESDAY <br>
	       		TECHNOPARK, TRIVANDRUM
	       	</p>
	      </div>
	      <div style="margin-bottom: 1.5em; margin-right:25em;">
	      	<!--<button md-raised-button [routerLink]="['home']" >CONNECT PORT 80</button>-->
          <button class="btn" [routerLink]="['home']"><span> PORT 80</span></button>
	      </div>
        <!--<div>
          <img src="assets/partners.png">
        </div>-->
      </div>
			<div flex flex-gt-xs="52" layout="column">
      	<div flex flex-gt-xs="85" class="date-card">
      	  <md-card class="card-details" layout="column">
      	  	<div flex layout-gt-xs="row">
      	 			<div flex-gt-xs="49" class="event-details" >
		      	    <h1>{{time.days}}</h1>
		      	    <p>Days</p>
      	 	  	</div>
      	 	  	<div flex-gt-xs="49" class="event-details">
      	     		<h1>{{time.hours}}</h1>
      	    		<p>Hours</p>
      	 	  	</div>
      	 		</div>
      	 		<div flex layout-gt-xs="row" layout-align="center center">
      	 			<div flex-gt-xs="49" class="event-details">
      	    		<h1>{{time.minutes}}</h1>
      	    		<p>Minutes</p>
      	 	  	</div>
      	 	  	<div flex-gt-xs="49" class="event-details">
      	     		<h1>{{time.seconds}}</h1>
      	    		<p>Seconds</p>
      	 	  	</div>
      	 		</div>
      	 	</md-card>
          <div flex class="b-logo">
            <img src="assets/1.png" alt="image1">
            <img src="assets/2.png" alt="image2" style="width: 14%;">
            <img src="assets/3.png" alt="image3">
            <img src="assets/4.png" alt="image4">
            <img src="assets/5.png" alt="image5">
            <img src="assets/6.png" alt="image5">
          </div>
      	</div>
      </div>
  	</div>
	</div>
</section>



