<div class="landing-page">
  <div layout-gt-xs="row" class="landing-page-content">
    <div flex flex-gt-xs="48" layout="column" flex-sm="40">
      <div class="faya-logo">
        <img class="animated zoomIn" src="assets/FAYA-80-logo.png" style="filter: brightness(0) invert(1);">
      </div>
      <div class="main-image">
        <img src="assets/title-container (1).png" class="animated zoomIn">
      </div>
      <div class="l-p-style">
        <p class="animated zoomIn">
          THE MUST ATTEND ONE-DAY CONFERENCE FOR TECHNOLOGY ENTHUSIASTS<br>
          <b style="text-shadow:2px 2px 6px #000;">JULY 5TH WEDNESDAY</b> <br> TECHNOPARK, TRIVANDRUM
        </p>
      </div>
      <div style="margin-bottom: 1.5em;font-family: 'Orbitron', sans-serif;" layout="row">
        <!--<button md-raised-button [routerLink]="['home']" >CONNECT PORT 80</button>-->
        <button class="btn animated bounceInUp" [routerLink]="['home']"><span> Details</span></button>
        <button style="margin-left:.5em;" class="btn animated bounceInDown" onclick="location.href='https://in.explara.com/e/fayaport80/checkout';"><span> Register</span></button>
        <!--[routerLink]="['register']"-->
      </div>
      <!--<div layout-gt-xs="row" class="partners">
          <div>
            <h3>In Association with :<span class="nasscom">NASSCOM</span></h3>
          </div>
          <div class="partners-logo">
            <h3>Partners :<span style="color: black;">     IC</span>
            <span style="color: #F37920;">FOSS</span></h3>
          </div>
        </div>-->
    </div>
    <div flex flex-gt-xs="52" flex-sm="60" flex-xs="100"  layout="column" class="animated bounceInUp date-card">
      <div flex flex-gt-xs="85" layout-xs="column" flex-xs="100" class="date-card">
      <md-card class="card-details" layout="column" flex-xs="100">
        <div flex layout-gt-xs="row" layout-xs="row">
          <div flex-gt-xs="49" class="event-details" flex-xs="49">
            <h1>{{time.days}}</h1>
            <p>Days</p>
          </div>
          <div flex-gt-xs="49" class="event-details" flex-xs="49">
            <h1>{{time.hours}}</h1>
            <p>Hours</p>
          </div>
      
   <!--      <div flex layout-gt-xs="row" layout-align="center center" layout-xs="row"> -->
          <div flex-gt-xs="49" class="event-details" flex-xs="49">
            <h1>{{time.minutes}}</h1>
            <p>Minutes</p>
          </div>
          <div flex-gt-xs="49" class="event-details" flex-xs="49">
            <h1>{{time.seconds}}</h1>
            <p>Seconds</p>
          </div>
         <!--  </div> -->
        </div>
      </md-card>
      </div>
    </div>
  </div>
  <div flex class="b-logo" flex-xs="100">
    <!-- <img class="animated bounceInUp image1" src="assets/1.png" alt="image1">
    <img class="animated bounceIn image2" src="assets/2.png" alt="image2">
    <img class="animated bounceInUp image3" src="assets/3.png" alt="image3">
    <img class="animated bounceIn image4" src="assets/4.png" alt="image4">
    <img class="animated bounceInUp image5" src="assets/5.png" alt="image5"> -->
    <img class="animated bounceIn image" src="assets/title-container.png" alt="image6">
  </div>
</div>
<section class="bgc-blue-grey-800 tc-blue-grey-100">
  <div layout-gt-xs="row" layout-align-gt-xs="center center" style="background: #313131">
    <div layout-gt-sm="row" flex-gt-xs="90" layout-padding>
      <div flex class="f_r_border">
        <h3 class="f_r_headline">Why attend? </h3>
        <div>
          - Global line-up of Experts
        </div>
        <div>
          - Uncover emerging trends & their challenges
        </div>
        <div>
          - Expand your network
        </div>
        <div>
          <img src="assets/partnerslogo.png" alt="image1" style="margin-top:1em;width: 260px;">
        </div>
      </div>
      <div flex class="f_r_border">
        <h3 class="f_r_headline">Who should attend? </h3>
        <div>
          - Directors, CEOs & CTOs
        </div>
        <div>
          - Entrepreneurs
        </div>
        <div>
          - Data Scientists
        </div>
        <div>
          - Machine Learning Scientists
        </div>
        <div>
          - Developers
        </div>
        <div>
          - Big Data Experts
        </div>
        <div>
          - All genres of Technology Enthusiasts
        </div>
      </div>
      <!--<h3>Contact Us</h3>
      <address>
                            FAYA Corporation<br>
                            Email on <a href="mailto:info@fayausa.com">info@fayausa.com</a><br>
                            call - 866-686-5988
                        </address>

      <ul class="list-inline social-links">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
      </ul>-->
      <div flex class="f_l_border">
        <h3 class="f_r_headline">Contact Us </h3>
        <div>
          <address>
              FAYA Corporation<br>
              Email on <a href="mailto:info@fayausa.com">info@fayausa.com</a><br>
              call - 866-686-5988
          </address>
        </div>
      </div>
    </div>
  </div>
  <div layout-gt-xs="row" layout-align-gt-xs="center center" style="background: #2D2D2D">
    <div layout-gt-sm="row" flex-gt-xs="90" layout-padding>
      <div flex>
        <p class="md-body-1 text-upper f_r_copyright">Copyright &copy;
          <a href="http://fayausa.com"></a>FAYA Corporation 2017. 2330 S. Archibald Ave. Ontario, CA 91761</p>
      </div>
      <div flex>
        <!--<div flex>
          <a>
            <span>Home</span>
          </a>
          <a>
            <span>About</span>
          </a>
          <a>
            <span>Service</span>
          </a>
          <a>
            <span>Portfolio</span>
          </a>
          <a>
            <span>Blog</span>
          </a>
          <a>
            <span>Contact</span>
          </a>
          <a>
            <span>Code of Contact</span>
          </a>
        </div>-->
      </div>
    </div>
  </div>
</section>