<td-layout #layout>
  <td-navigation-drawer color="accent" [routerLink]="['home']" logo="assets/FAYA-80-logo.png" icon="developer_board" sidenavTitle=" Port:80">
    <md-nav-list>
      <a [routerLink]="['premise']" (click)="layout.close()" md-list-item>
        <md-icon>lightbulb_outline</md-icon>
        PREMISE
      </a>
      <a [routerLink]="['about']" (click)="layout.close()" md-list-item>
        <md-icon>nature_people</md-icon>
        ABOUT
      </a>
      <a [routerLink]="['loopback']" (click)="layout.close()" md-list-item>
        <md-icon>photo</md-icon>LOOK BACK</a>
      <a [routerLink]="['speakers']" (click)="layout.close()" md-list-item>
        <md-icon>sentiment_very_satisfied</md-icon>
        SPEAKERS
      </a>
      <a [routerLink]="['panellists']" (click)="layout.close()" md-list-item>
        <md-icon>view_list</md-icon>
        PANEL LISTS
      </a>
      <a [routerLink]="['schedule']" (click)="layout.close()" md-list-item>
        <md-icon>schedule</md-icon>
        SCHEDULE
      </a>
      <a [routerLink]="['register']" (click)="layout.close()" md-list-item>
        <md-icon>photo</md-icon>REGISTER</a>
      <a [routerLink]="['map']" (click)="layout.close()" md-list-item>
        <md-icon>map</md-icon>MAP</a>
        <a [routerLink]="['coc']" (click)="layout.close()" md-list-item>
        <md-icon>chrome_reader_mode</md-icon>
        CODE OF CONDUCT
      </a>
    </md-nav-list>
    <md-nav-list td-navigation-drawer-menu>
      <a md-list-item>
        <md-icon>exit_to_app</md-icon>Sign out</a>
    </md-nav-list>
  </td-navigation-drawer>
  <td-layout-nav color="primary">
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span><img src="assets/FAYA-80-logo.png" style="width: 90%;cursor: pointer;" [routerLink]="['']"></span>
      <span flex></span>
     <button md-icon-button (click)="notificationCount = 0" [mdMenuTriggerFor]="notificationsMenu">
  <td-notification-count color="accent" positionY="top" positionX="after" [notifications]="notificationCount">
    <md-icon style="color:#85C357">notifications</md-icon>
  </td-notification-count>
</button>
<md-menu #notificationsMenu="mdMenu">
  <td-menu>
    <div td-menu-header class="md-subhead">Notifications</div>
    <md-nav-list dense>
      <div #last >
        <a md-list-item *ngFor='let key of messages'>
          <md-icon md-list-avatar>message</md-icon>
          <h4 md-line><span class="text-wrap">{{key.msg}}</span></h4>
          <p md-line>{{key.time | timeElapsed | async}} ago</p>
        </a>
        <md-divider></md-divider>
      </div>
    </md-nav-list>
    <button routerLink="/home/notification" md-button color="accent" td-menu-footer>
      See All Notifications
    </button>
  </td-menu>
</md-menu>

    </div>
    <md-card id="h_e_card" *ngIf="router.url === '/home'">
      <md-tab-group id="header" style="background: #fff;">
        <md-tab>
          <ng-template md-tab-label>
            <span hide-xs> Premise</span>
            <span hide-gt-xs>
              <md-icon>gamepad</md-icon>
              <span class="h_e_title">Premise</span>

            </span>
          </ng-template>
          <pwa-premise></pwa-premise>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            <span hide-xs> About Us</span>
            <span hide-gt-xs>
              <md-icon>nature_people</md-icon>
              <span class="h_e_title">About</span>
            </span>
          </ng-template>
          <pwa-aboutus></pwa-aboutus>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            <span hide-xs> Speakers</span>
            <span hide-gt-xs>
              <md-icon>record_voice_over</md-icon>
              <span class="h_e_title">Speakers</span>
            </span>
          </ng-template>
          <pwa-speakers></pwa-speakers>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            <span hide-xs> Panellists</span>
            <span hide-gt-xs>
              <md-icon>schedule</md-icon>
              <span class="h_e_title">Panellists</span>
            </span>
          </ng-template>
          <pwa-panellist></pwa-panellist>
        </md-tab>
      </md-tab-group>
    </md-card>
    <router-outlet></router-outlet>
    <pwa-footer></pwa-footer>
  </td-layout-nav>
  <a md-fab color="primary" [routerLink]="['schedule']"  mdTooltip="Schedule" mdTooltipPosition="above" class="mat-fab-position-bottom-right fixed h_e_btn_bottm">
    <md-icon style="color:#fff">
      insert_invitation
    </md-icon>
  </a>
</td-layout>
