<section class="" layout-gt-sm="column" flex>
  <div layout-gt-sm="row">
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/kaushik.png">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Kaushik Madhavan</div>
            <div class="speaker-designation">Director - Automotive & Transportation</div>
            <div class="speaker-organisation">Frost & Sullivan</div>
          </div>
          <div>
            <div class="speaker-info">
              Currently working with Frost & Sullivan, managing the Automotive & Transportation business unit for Middle East, North Africa and and South Asia.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/venkat.png">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Venkatramanan P.R</div>
            <div class="speaker-designation">Data Scientist</div>
            <div class="speaker-organisation">Thought Works</div>
          </div>
          <div>
            <div class="speaker-info">
              Venkat is Lead Consultant and Data Scientist at ThoughtWorks. Over the last few years, he has helped build the data science capability within ThoughtWorks India
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
  <div layout-gt-sm="row">
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/amrit.png">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Amrit Sanjeev</div>
            <div class="speaker-designation">Senior Developer Advocate</div>
            <div class="speaker-organisation">Google</div>
          </div>
          <div>
            <div class="speaker-info">
              Amrit Sanjeev is the organizer of Blrdroid, the largest open android developer community in India and also the first Google developer expert for Android from the country.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/manuyash-chaudhary.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Manuyash Chaudhary</div>
            <div class="speaker-designation">AI & NLP Developer & Researcher</div>
            <div class="speaker-organisation">Accubits</div>
          </div>
          <div>
            <div class="speaker-info">
              AI & NLP Developer & Researcher, Accubits Technologies. An MS in Machine Learning & Artificial Intelligence from University College London.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
  <div layout-gt-sm="row">
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/sanju-mathew.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Sanju Mathew</div>
            <div class="speaker-designation">CEO</div>
            <div class="speaker-organisation">Onbyz</div>
          </div>
          <div>
            <div class="speaker-info">
              Sanju Mathew is an Mtech Electronics graduate (Signal Processing and Bionics), Entrepreneur, Intel IoT Innovator and a speaker at National and International conferences on Bionics and IoT.</div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/anivar.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Anivar Aravind</div>
            <div class="speaker-designation">Founder Executive Director</div>
            <div class="speaker-organisation">Indic Project</div>
          </div>
          <div>
            <div class="speaker-info">
              Anivar A. Aravind is Founder Executive Director of Indic Project, a civic-tech non-profit initiative works on language engineering, technology standards and digital rights.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
</section>