<section class="" layout-gt-sm="column" flex>
  <div layout-gt-sm="row">
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/michael.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. Michael Gord</div>
            <div class="speaker-designation">Founder & CEO</div>
            <div class="speaker-organisation">MLG Blockchain Consulting</div>
          </div>
          <div>
            <div class="speaker-info">
              Michael is a blockchain developer at TD and the founder of Bitcoin Canada and the McGill Cryptocurrency Club. While at McGill, Michael organized the Bitcoin Airdrop events where he gave hundreds of students their first bitcoin..
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>


    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/venkat.png">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. Venkatramanan P.R</div>
            <div class="speaker-designation">Data Scientist</div>
            <div class="speaker-organisation">Thought Works</div>
          </div>
          <div>
            <div class="speaker-info">
              Venkat is Lead Consultant and Data Scientist at ThoughtWorks. Over the last few years, he has helped build the data science capability within ThoughtWorks India
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
  <div layout-gt-sm="row">
       <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/satish-babu.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. Satish Babu</div>
            <div class="speaker-designation">Chair, APRALO</div>
            <div class="speaker-organisation">ICANN</div>
          </div>
          <div>
            <div class="speaker-info">
              Programmer, Development Professional and Internet Governance Practitioner, associated with ICANN, ISOC, IEEE and InApp. Fellow and Past President of Computer Society of India. Chair, APRALO, ICANN and Member, 2017 HAC, IEEE.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>

     <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/nandini.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Prof. Nandini Vaidyanathan</div>
            <div class="speaker-designation">Chairman and Managing Director</div>
            <div class="speaker-organisation">CARMa Venture Services</div>
          </div>
          <div>
            <div class="speaker-info">
             Having spent 20 years in the corporate sector as a senior management professional in MNC's on all inhabited continents, I now enjoy sharing that experience with and learning from aspiring and practicing entrepreneurs across the globe.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>

  </div>
  <div layout-gt-sm="row">
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/amrit.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. Amrit Sanjeev</div>
            <div class="speaker-designation">Senior Developer Advocate</div>
            <div class="speaker-organisation">Google</div>
          </div>
          <div>
            <div class="speaker-info">
              Amrit Sanjeev is the organizer of Blrdroid, the largest open android developer community in India and also the first Google developer expert for Android from the country.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/rama-brahmam.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. Rama Brahmam Aletiy</div>
            <div class="speaker-designation">Co-founder & Director - Experience Design</div>
            <div class="speaker-organisation">AccThink Design Collaborativeubits</div>
          </div>
          <div>
            <div class="speaker-info">
               Rama has been instrumental in developing the company into a leading, world-class UX Design and Innovation Consultancy..
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
  <div layout-gt-sm="row">
     <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/abhilash-ashok.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. Abhilash Ashok</div>
            <div class="speaker-designation">Senior Lead, UX Development</div>
            <div class="speaker-organisation">Valorem</div>
          </div>
          <div>
            <div class="speaker-info">
              An Incorruptible Passionate Microsoft Technology Stack Enthusiast with rich 8+ years’ experience, well-versed with Windows ...
          </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/sanju-mathew.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. Sanju Mathew</div>
            <div class="speaker-designation">CEO</div>
            <div class="speaker-organisation">Onbyz</div>
          </div>
          <div>
            <div class="speaker-info">
              Sanju Mathew is an Mtech Electronics graduate (Signal Processing and Bionics), Entrepreneur, Intel IoT Innovator and a speaker at National and International conferences on Bionics and IoT.</div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>

  </div>

<div layout-gt-sm="row">
  <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/anivar.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. Anivar Aravind</div>
            <div class="speaker-designation">Founder Executive Director</div>
            <div class="speaker-organisation">Indic Project</div>
          </div>
          <div>
            <div class="speaker-info">
              Anivar A. Aravind is Founder Executive Director of Indic Project, a civic-tech non-profit initiative works on language engineering, technology standards and digital rights.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more" >
              <button (click)="openDialog()"  md-button style="margin-bottom:10px;">More</button>
            </div>
          </div>
        </div>
      </div>
    </md-card>

    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/rafi.jpg">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Mr. Mohammed Rafi T. F.</div>
            <div class="speaker-designation">Behavioural Scientist</div>
            <div class="speaker-organisation">Neuro Lingusitic Programme</div>
          </div>
          <div>
            <div class="speaker-info">
              A Behavioural Scientist, Life Transformation Specialist and International Master Trainer in Neuro Lingusitic Programme...
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>

  </div>
</section>
