<section class="" layout-gt-sm="column" flex>
  <div layout-gt-sm="row">
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/kaushik.png">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Kaushik Madhavan</div>
            <div class="speaker-designation">Director - Automotive & Transportation</div>
            <div class="speaker-organisation">Frost & Sullivan</div>
          </div>
          <div>
            <div class="speaker-info">
              Currently working with Frost & Sullivan, managing the Automotive & Transportation business unit for Middle East, North Africa and and South Asia.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/kaushik.png">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Kaushik Madhavan</div>
            <div class="speaker-designation">Director - Automotive & Transportation</div>
            <div class="speaker-organisation">Frost & Sullivan</div>
          </div>
          <div>
            <div class="speaker-info">
              Currently working with Frost & Sullivan, managing the Automotive & Transportation business unit for Middle East, North Africa and and South Asia.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
  <div layout-gt-sm="row">
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/kaushik.png">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Kaushik Madhavan</div>
            <div class="speaker-designation">Director - Automotive & Transportation</div>
            <div class="speaker-organisation">Frost & Sullivan</div>
          </div>
          <div>
            <div class="speaker-info">
              Currently working with Frost & Sullivan, managing the Automotive & Transportation business unit for Middle East, North Africa and and South Asia.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/kaushik.png">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Kaushik Madhavan</div>
            <div class="speaker-designation">Director - Automotive & Transportation</div>
            <div class="speaker-organisation">Frost & Sullivan</div>
          </div>
          <div>
            <div class="speaker-info">
              Currently working with Frost & Sullivan, managing the Automotive & Transportation business unit for Middle East, North Africa and and South Asia.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
  <div layout-gt-sm="row">
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/kaushik.png">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Kaushik Madhavan</div>
            <div class="speaker-designation">Director - Automotive & Transportation</div>
            <div class="speaker-organisation">Frost & Sullivan</div>
          </div>
          <div>
            <div class="speaker-info">
              Currently working with Frost & Sullivan, managing the Automotive & Transportation business unit for Middle East, North Africa and and South Asia.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
    <md-card flex-gt-sm="50" style="margin: 1em">
      <div layout-md="column" layout-sm="column" layout-xs="column">
        <img class="speakers-photo-case" src="assets/kaushik.png">
        <div layout="column">
          <div class="speakers-detail">
            <div class="speaker-name">Kaushik Madhavan</div>
            <div class="speaker-designation">Director - Automotive & Transportation</div>
            <div class="speaker-organisation">Frost & Sullivan</div>
          </div>
          <div>
            <div class="speaker-info">
              Currently working with Frost & Sullivan, managing the Automotive & Transportation business unit for Middle East, North Africa and and South Asia.
            </div>
          </div>
          <div class="social-icon-section">
            <div>
              <a href="#" mdTooltip="Facebook" title="Facebook" class="social-icons fb"></a>
              <a href="#" mdTooltip="Twitter" title="Twitter" class="social-icons twitter"></a>
              <a href="#" mdTooltip="LinkedIn" title="LinkedIn" class="social-icons linkedIn"></a>
            </div>
            <div class="speaker_more">
              More
            </div>
          </div>
        </div>
      </div>
    </md-card>
  </div>
</section>